<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" type="text/css" href="/css/add-new.css">
</head>
<body>
   <div class="main-content">
       <div class="side-bar">
           <h4>ADMIN PAGE</h4>
           <ul>
            <li>
                <a href="/admin-page/search">Search</a>
            </li>
            <li>
                <a href="/admin-page">Add New Product</a>
            </li>
            <li>
                <a href="/admin-page/update" target="_self">Update Product</a>
            </li>
            <li>
                <a href="/admin-page/remove">Remove Product</a>
            </li>
        </ul>
       </div>
       <div class="content">
        
            <h2>Add New Product</h2>
         <table>
           <tr> 
           <td><p>Product ID</p></td>
            
            <td><input type="text" placeholder="Enter Product ID"></td>
        </tr>
           <tr>
               <td><p>Product Name</p></td>
            
            <td><input type="text" placeholder="Enter Product Name"></td>
        </tr>
           <tr> <td><p>Description</p></td>
            
           <td> <input type="text" placeholder="Description"></td>
        </tr>
           <tr><td> <p>Price</p></td>
            
           <td> <input type="text" placeholder="Enter Price"></td>
        </tr>
           <tr> <td><p>Color</p></td>
            
          <td>  <input type="text" placeholder="Enter Color"></td>
        </tr>
            <tr><td><p>Material</p></td>
            
            <td><input type="text" placeholder="Enter Material"></td>
        </tr>
            <tr>
            <td><p>State</p></td>
            
           <td> <input type="text" placeholder="Enter State"></td>
        </tr>
           <tr>
           <td><p>Brand ID</p></td>
            
            <td><input type="text" placeholder="Enter BrandID"></td>
        </tr>
        </table>
              <br>
              <br>
              
            <button>ADD TO STORE</button>
            
           
       
       </div>
   </div> 
</body>
</html>