<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/information.css">
</head>
<body>
    <div class="information">
        <img src="https://cdn.shopify.com/s/files/1/0437/0454/9536/t/26/assets/logo.png?v=8319783983011445918" alt="Logo" srcset="">
        <ul class="breadcrumb">
            <li class="breadcrumb-item" id="-1"><a href="/my-cart">Cart</a></li>
            <li class="breadcrumb-item active" id="0" aria-current="page">Information</a></li>
            <li class="breadcrumb-item" id="1"><span>Shipping</span></li>
            <li class="breadcrumb-item" id="2"><span>Payment</span></li>
        </ul>
        
        <!--INFORMATION-->
        <form class="form-info" action="/shipping" method="GET">
            <div class="contact-info">
                <h5 style="text-align: left; width:49%; display: inline-block;margin-bottom:10px;">Contact Information</h5>
                <p style="text-align: right; width:50%;  display: inline-block;margin-bottom:10px;">Already have an account? <span><a href="#">Log in</a></span></p>
                    <input type="text" name="email-tel" id="email-tel" class="form-control" placeholder="Email or mobile phone number" required>   
            </div>
            
            <div class="shipping-address" style="margin-top:40px;margin-bottom:30px;">
                <h5 style="margin-bottom:10px;">Shipping address</h5>
                    <input style="float: left; width:49%;" type="text" name="firstName" id="firstName" class="form-control" placeholder="First name" required>
                    <input style="float: right; width:49%;"type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name" required >
                    <input type="text" name="address" id="address" class="form-control" placeholder="Address" required>
                    <input type="text" name="apartment" id="apartment" class="form-control" placeholder="Apartment, suite, etc. (optional)">
                    <input type="text" name="city" id="city" class="form-control" placeholder="City" required>
            </div>
            <input type="submit" value="submit" onclick="next()">
            <div class="checking">
                <a class="btn" href="/shipping"  onclick="next()">Continue to Shipping</a>
                <a class="return" href="/my-cart">Return to Cart</a>
            </div>
    </form>
    </div>
        
    <div class="side">
        <div class="product-table" style="width:100%;">
            <table>
                <colgroup>
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 55%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 20%;">
                </colgroup>
                <tr>
                    <td>
                        <img src="//cdn.shopify.com/s/files/1/0437/0454/9536/products/shop-5_87c12970-4390-44ce-b87d-bb3f3bef7833_medium.jpg?v=1596620955">
                    </td>
                    
                    <td class="info" style="padding-left:10px;">
                        <span class="product-name" style="font-weight:600;">Comfort Earphone</span>
                        <br>
                        <span class="product-description" style="font-size:12px" >2.5 mm / Black / Silicon</span>
                    </td>
                    
                    <td class="quantity" style="text-align:center;">1</td>
                    
                    <td class="price">$910.00</td>
                </tr>
            </table>
        </div>
        
        <div class="discount">
            <form class="form-info" action="" method="POST">
                <input style="float:left; width:75%;margin:0;" type="text" name="discount-code" id="discount-code" class="form-control" placeholder="discount-code">
                <button  class="btn" type="submit">Apply</button>
            </form>    
        </div>
        
        <div class="sub-money" style="width:100%;">
            <table style="width:100%">
                <tr>
                  <td class="sub-title">Subtotal</td>
                  <td class="price">$<span id="sub-total">910.00</span></td>
                </tr>
                <tr>
                  <td class="sub-title">Shipping</td>
                  <td class="price"><span id="ship-fee">calculated at next step</span></td>
                </tr>
              </table> 
        </div>
        <div class="total">
            <div class="sub-title"style="text-align: left; width:49%; display: inline-block;">Total</div>
            <div class="price" style="width:50%;display:inline-block;font-size:25px;">$<span id="total-price">910</span></div>
        </div>
    </div>

    <script>
        function myFunction() {
            var cash = document.getElementById("cash");
            var credit = document.getElementById("credit");
            var credit_form = document.getElementById("credit_form");
            if (credit.checked == true){
                credit_form.style.display = "table-row";
            } 
            if(cash.checked==true){
                credit_form.style.display = "none";
            }
        }
    </script>
    <script>

        document.getElementById("email-tel").value=sessionStorage.getItem("email-tel");
        document.getElementById("address").value=sessionStorage.getItem("address");
        document.getElementById("firstName").value=sessionStorage.getItem("firstName");
        document.getElementById("lastName").value=sessionStorage.getItem("lastName");
        document.getElementById("apartment").value=sessionStorage.getItem("apartment");
        document.getElementById("city").value=sessionStorage.getItem("city");
        function next(){
            sessionStorage.setItem("email-tel",document.getElementById("email-tel").value);
            sessionStorage.setItem("address",document.getElementById("address").value);
            sessionStorage.setItem("firstName",document.getElementById("firstName").value);
            sessionStorage.setItem("lastName",document.getElementById("lastName").value);
            sessionStorage.setItem("city",document.getElementById("city").value);
            sessionStorage.setItem("apartment",document.getElementById("apartment").value);
        } 

    </script>

</body>
</html>