<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/information1.css">
</head>
<body>
    <div class="info-detail">
        <img src="https://cdn.shopify.com/s/files/1/0437/0454/9536/t/26/assets/logo.png?v=8319783983011445918" alt="Logo" srcset="">
        <ul class="breadcrumb">
            <li class="breadcrumb-item" id="-1"><a href="/my-cart">Cart</a></li>
            <li class="breadcrumb-item" id="0" aria-current="page">Information</a></li>
            <li class="breadcrumb-item" id="1"><span>Shipping</span></li>
            <li class="breadcrumb-item" id="2"><span>Payment</span></li>
        </ul>
        
        <!--INFORMATION-->
        
        <div class="tab">
            <div class="information" >
                <div class="contact-info">
                    <h5 style="text-align: left; width:49%; display: inline-block;margin-bottom:10px;">Contact Information</h5>
                    <p style="text-align: right; width:50%;  display: inline-block;margin-bottom:10px;">Already have an account? <span><a href="#">Log in</a></span></p>
                    <form class="form-info" action="" method="POST">
                        <input type="text" name="email-tel" id="email-tel" class="form-control" placeholder="Email or mobile phone number" required>
                    </form>
                </div>
                
                <div class="shipping-address" style="margin-top:40px;margin-bottom:30px;">
                    <h5 style="margin-bottom:10px;">Shipping address</h5>
                    <form class="form-info" action="" method="POST">
                        <input style="float: left; width:49%;" type="text" name="firstName" id="firstname" class="form-control" placeholder="First name" required>
                        <input style="float: right; width:49%;"type="text" name="lastName" id="lastName" class="form-control" placeholder="Last Name" required >
                        <input type="text" name="address" id="address" class="form-control" placeholder="Address" required>
                        <input type="text" name="apartment" id="apartment" class="form-control" placeholder="Apartment, suite, etc. (optional)">
                        <input type="text" name="city" id="city" class="form-control" placeholder="City" required>
                        
                    </form>
                </div>
            </div>
        </div>

        <!--SHIPPING-->

        <div class="tab" >
            <div class="shipping" >
                <div class="content">
                    <table>
                        <colgroup>
                            <col span="1" style="width: 20%;">
                            <col span="1" style="width: 75%;">
                            <col span="1" style="width: 5%;">
                        </colgroup>
                        <tr>
                            <td class="header">Contact</td>
                            <td class="description contact"></td>
                            <td><a href="#">Change</a></td>
                        </tr>
                        <tr class="lower-row">
                            <td class="header">Shipping to</td>
                            <td class="description location"></td>
                            <td><a href="#">Change</a></td>
                        </tr>
                    </table>
                </div>
        
                <div class="shipping-method">
                    <h5 style="margin-bottom:30px;">Shipping method</h5>
        
                    <div class="content">
                        <table>
                            <colgroup>
                                <col span="1" style="width: 10%;">
                                <col span="1" style="width: 85%;">
                                <col span="1" style="width: 5%;">
                            </colgroup>
                            <tr>
                                <td>
                                    <label class="check">
                                        <input type="radio"  name="ship-option" id="Standard" value="20.00" onclick="ship(this)">
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td class="description">Standard</td>
                                <td class="price">$20.00</td>
                            </tr>

        
                            <tr class="lower-row">
                                <td>
                                    <label class="check">
                                        <input type="radio" name="ship-option" id="Express" value="30.00" onclick="ship(this)">
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                                <td class="description">Express Delivery</td>
                                <td class="price">$30.00</td>
                            </tr>
        
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--PAYMENT-->

        <div class="tab" >
            <div class="payment" >
                <div class="content1">
                    <table>
                        <colgroup>
                            <col span="1" style="width: 20%;">
                            <col span="1" style="width: 75%;">
                            <col span="1" style="width: 5%;">
                        </colgroup>
                        <tr>
                            <td class="header">Contact</td>
                            <td class="description contact" ></td>
                            <td><a href="#">Change</a></td>
                        </tr>
                        <tr class="lower-row">
                            <td class="header">Shipping to</td>
                            <td class="description location"></td>
                            <td><a href="#">Change</a></td>
                        </tr>
                        <tr class="lower-row">
                            <td class="header">Method</td>
                            <td class="description"><span id="method"></span> - <span class="price" id="fee"></span></td>
                            <td><a href="#">Change</a></td>
                        </tr>
                    </table>
                </div>
        
                <div class="Payment-method">
                    <h5>Payment method</h5>
                    <p style="margin-bottom:30px;">All transactions are secured and encrypted</p>
        
                    <div class="content-pay">
                        <table style="width:100%;">
                            <tr>
                                <td>
                                    <label class="check">Pay by cash
                                        <input type="radio" checked="checked" name="option" id="cash" value="cash" onclick="myFunction()">
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                            </tr> 
                            
                            <tr class="lower-row">
                                <td>
                                    <label class="check">Credit card
                                        <input type="radio" name="option" id="credit"  value="credit" onclick="myFunction()">
                                        <span class="checkmark"></span>
                                    </label>
                                </td>
                            </tr>
                            <tr class="lower-row format" id="credit_form">
                                <td>
                                    <form class="form-info" action="" method="POST">
                                        <input type="number" name="card-number" id="card-number" class="form-control" placeholder="Card number" required>
                                        <input type="text" name="card-name" id="card-name" class="form-control" placeholder="Name on card" required>
                                        <input style="float: left; width:49%;" type="text" name="date" id="date" class="form-control" placeholder="Expiration date (MM/YY)" required>
                                        <input style="float: right; width:49%;"type="number" name="sec-code" id="sec-code" class="form-control" placeholder="Security code" required >
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="step">
            <button class="next" id="next" type="submit"  onclick="nextprev(1)"></button>
            <a class="prev" id="prev" href="#" onclick="nextprev(-1)"></a>
        </div>

    </div>
        
    <div class="side">
        <div class="product-table" style="width:100%;">
            <table>
                <colgroup>
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 55%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 20%;">
                </colgroup>
                <tr>
                    <td>
                        <img src="//cdn.shopify.com/s/files/1/0437/0454/9536/products/shop-5_87c12970-4390-44ce-b87d-bb3f3bef7833_medium.jpg?v=1596620955">
                    </td>
                    
                    <td class="info" style="padding-left:10px;">
                        <span class="product-name" style="font-weight:600;">Comfort Earphone</span>
                        <br>
                        <span class="product-description" style="font-size:12px" >2.5 mm / Black / Silicon</span>
                    </td>
                    
                    <td class="quantity" style="text-align:center;">1</td>
                    
                    <td class="price">$910.00</td>
                </tr>
            </table>
        </div>
        
        <div class="discount">
            <form class="form-info" action="" method="POST">
                <input style="float:left; width:75%;margin:0;" type="text" name="discount-code" id="discount-code" class="form-control" placeholder="discount-code">
                <button  class="btn" type="submit">Apply</button>
            </form>    
        </div>
        
        <div class="sub-money" style="width:100%;">
            <table style="width:100%">
                <tr>
                  <td class="sub-title">Subtotal</td>
                  <td class="price">$<span id="sub-total">910.00</span></td>
                </tr>
                <tr>
                  <td class="sub-title">Shipping</td>
                  <td class="price"><span id="ship-fee">calculated at next step</span></td>
                </tr>
              </table> 
        </div>
        <div class="total">
            <div class="sub-title"style="text-align: left; width:49%; display: inline-block;">Total</div>
            <div class="price" style="width:50%;display:inline-block;font-size:25px;">$<span id="total-price"></span></div>
        </div>
    </div>

    <script>
        function myFunction() {
            var cash = document.getElementById("cash");
            var credit = document.getElementById("credit");
            var credit_form = document.getElementById("credit_form");
            if (credit.checked == true){
                credit_form.style.display = "table-row";
            } 
            if(cash.checked==true){
                credit_form.style.display = "none";
            }
        }
    </script>

    <script>
        if(sessionStorage.getItem("tab")==null||sessionStorage.getItem("tab")<0){
            sessionStorage.setItem("tab",0);
        }
        var x=document.getElementsByClassName("tab");
        var sub_total=parseFloat(document.getElementById("sub-total").innerHTML);
        var total=sub_total;
        var current=parseInt(sessionStorage.getItem("tab"));
        document.getElementById("total-price").innerHTML=total;

        showTab(current);

        function showTab(n){   
            if(n==1||n==2) {
                document.getElementsByClassName("contact").innerHTML=document.getElementById("email-tel").value;
                document.getElementsByClassName("location").innerHTML=document.getElementById("address").value;
            }
            x[n].style.display="block";
            document.getElementById(n).className += " active";
            document.getElementById("prev").innerHTML = "Return to " + document.getElementById(n-1).innerHTML;
            if(n==x.length-1){
                document.getElementById("next").innerHTML="Pay now";
            }else{
                document.getElementById("next").innerHTML = "Continue to " + document.getElementById(n+1).innerHTML;
            }
        }

        function nextprev(n){
            if(n==-1 && current==0){
                document.getElementById("prev").href="/my-cart";
            }
            x[current].style.display="none";
            document.getElementById(current).className ="breadcrumb-item";
            current += n;
            sessionStorage.setItem("tab",current);
            showTab(current);
        }

        function ship(s){
            var ship=parseInt(s.value);
            total=sub_total+ship;
            document.getElementById("ship-fee").innerHTML=s.value;
            document.getElementById("total-price").innerHTML=total;
            document.getElementById("fee").innerHTML=s.value;
            document.getElementById("method").innerHTML=s.id;
        }
        
    </script>

</body>
</html>