<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style1.css">
</head>
<body>
    <!-- HEADER -->
    <div class="header-content">
        <div class="head-menubar">
            <div class="container-bg">
                <div class="row">
                    <div class="col-2">
                        <img src="https://cdn.shopify.com/s/files/1/0437/0454/9536/t/26/assets/logo.png?v=8319783983011445918" alt="Logo" srcset="">
                    </div>
                    <div class="col-8">
                        <div class="sidemenu-holder">
                            <nav class="navbar navbar-expand-lg">
                                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link current" href="articles">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link product" href="#">Catalog</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Blog</a>
                                        </li>
                                        <li class="nav-item blog">
                                            <a class="nav-link" href="#">Pages</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="header-icon">
                            <ul class="list-inline d-flex justify-content-end">
                                <li class="list-inline-item cart"><i class="fas fa-shopping-cart fa-lg"></i></li>
                                <li class="list-inline-item user">
                                    <a href="articles" title="Resister"><i class="far fa-user fa-lg"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-img">
        <img src="https://cdn.shopify.com/s/files/1/0437/0454/9536/files/slider_2000x.png?v=1595597573" alt="" srcset="">
    </div>
    <div class="bg-img">
        <div class="container">
            <img src="https://cdn.shopify.com/s/files/1/0437/0454/9536/files/img-1a_960x.png?v=1596090232" alt="" srcset="">
        </div>
    </div>
        
        <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Wishlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Cart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="articles">Login</a>
                </li>
            </ul>
        </nav>
    </div>
      <div class="box">
          <h1>helo my name í Phuc</h1>
      </div> -->
    <!-- HEADER -->
    <!-- SIDEBAR -->
    <!-- SIDEBAR -->
    <!-- PRODUCTCATEGORY -->
    
    <!-- PRODUCTCATEGORY -->
    <!-- FOOTER -->
    <!-- FOOTER -->
</body>
</html>