<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style-product.css">
</head>
<body>
    <div class="header-content-cart">
        <div class="head-menubar-cart d-flex align-items-center">
            <div class="container-bg">
                <div class="row">
                    <div class="col-2">
                        <img src="https://cdn.shopify.com/s/files/1/0437/0454/9536/t/26/assets/logo.png?v=8319783983011445918" alt="Logo" srcset="">
                    </div>
                    <div class="col-8">
                        <div class="sidemenu-holder">
                            <nav class="navbar navbar-expand-lg">
                                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link" href="/">Home</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link product" href="#">Catalog</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Blog</a>
                                        </li>
                                        <li class="nav-item blog">
                                            <a class="nav-link" href="#">Pages</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="header-icon">
                            <ul class="list-inline d-flex justify-content-end">
                                <li class="list-inline-item cart"><i class="fas fa-shopping-cart fa-lg"></i></li>
                                <li class="list-inline-item user">
                                    <a href="articles" title="Resister"><i class="far fa-user fa-lg"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="headphone-image">
        <div class="shopping-cart">
           <h1 style="font-family: 'Times New Roman', Times, serif;">PRODUCTS</h1>
           <p>
               <span>
                <a style="color:white" href="/" title="Back to the front page">Home</a>
               </span>
               / Products
           </p>
        </div>
    </div>

    <div class="main-content">
        <div class="side-bar">
            <div class="widget category">
                <h4>Category</h4>
                <ul>
                    <li>
                        <a href="collections/wireless">Wireless</a>
                    </li>
                    <li>
                        <a href="collections/bluetooth">Noise Isolated</a>
                    </li>
                    <li>
                        <a href="collections/in-ear">Noise-canceling</a>
                    </li>
                    <li>
                        <a href="collections/sport-earbuds">Sport Earbuds</a>
                    </li>
                   
                </ul>
            </div>
            <div class="color">
                <h4>Shop By Color</h4>
                <ul>
                    <li>
                        <input type="checkbox" id="white">
                        <a href="">
                            <label for="white">
                                <span style="background:white"></span>
                            </label>
                        </a>
                    </li>
                    <li>
                        <input type="checkbox" id="blue">
                        <a href="">
                            <label for="blue">
                                <span style="background:blue"></span>
                            </label>
                        </a>
                    </li>
                    <li>
                        <input type="checkbox" id="black">
                        <a href="">
                            <label for="black">
                                <span style="background:black"></span>
                            </label>
                        </a>
                    </li>
                    <li>
                        <input type="checkbox" id="red">
                        <a href="">
                            <label for="red">
                                <span style="background:red"></span>
                            </label>
                        </a>
                    </li>
                    <li>
                        <input type="checkbox" id="green">
                        <a href="">
                            <label for="green">
                                <span style="background:#00ff00"></span>
                            </label>
                        </a>
                    </li>
                    <li>
                        <input type="checkbox" id="orange">
                        <a href="">
                            <label for="orange">
                                <span style="background:#e18b34"></span>
                            </label>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="widget price">
                <h4>Shop By Price</h4>
                <ul>
                    <li>
                        <input type="checkbox" id="price1" />
                        <label for="price1">$100 - $200</label>
                    </li>
                    <li>
                        <input type="checkbox" id="price2" />
                        <label for="price2">$200 - $300</label>
                    </li>
                    <li>
                        <input type="checkbox" id="price3" />
                        <label for="price3">$300 - $400</label>
                    </li>
                    <li>
                        <input type="checkbox" id="price4" />
                        <label for="price4">$400 - $500</label>
                    </li>
                    <li>
                        <input type="checkbox" id="price5" />
                        <label for="price5">$500 - $600</label>
                    </li>
                    <li>
                        <input type="checkbox" id="price6" />
                        <label for="price6">$600 - $700</label>
                    </li>
                    <li>
                        <input type="checkbox" id="price7" />
                        <label for="price7">$700 - $1000</label>
                    </li>
                </ul>
            </div>
            <div class="widget brand">
                <h4>Shop By Brand</h4>
                <ul>
                    <li>
                        <input type="checkbox" id="autofy" />
                        <label for="autofy">Autofy</label>
                    </li>
                    <li>
                        <input type="checkbox" id="beat" />
                        <label for="beat">Beat</label>
                    </li>
                    <li>
                        <input type="checkbox" id="nemu" />
                        <label for="nemu">Nemu</label>
                    </li>
                </ul>
            </div>
            <div class="widget size">
                <h4>Shop By Size</h4>
                <ul>
                    <li>
                        <input type="checkbox" id="size1" />
                        <label for="size1">2.5 mm</label>
                    </li>
                    <li>
                        <input type="checkbox" id="size2" />
                        <label for="size2">3.5 mm</label>
                    </li>
                    <li>
                        <input type="checkbox" id="size3" />
                        <label for="size3">12 mm</label>
                    </li>
                    <li>
                        <input type="checkbox" id="size4" />
                        <label for="size4">12.5 mm</label>
                    </li>
                    <li>
                        <input type="checkbox" id="size5" />
                        <label for="size5">13 mm</label>
                    </li>
                </ul>
            </div>
        </div>

        <div class="product-section">
            <div class="toolbar d-flex justify-content-end">
                <div class="dropdown">
                    <label>SORT BY: </label>
                    <button class="dropbtn">
                        Featured
                    </button>
                    <div class="dropdown-content" >
                        <a href="#" class="active" >Featured</a>
                        <a href="javascript: sortLowToHigh()">Price, low to high</a>
                         <a href="#">Price, high to low</a>
                        <a href="#">A-Z</a>
                        <a href="#">Z-A</a>
                        <a href="#">Date, old to new</a>
                        <a href="#">Price, new to old</a>
                    </div>
                </div>
            </div>
            <div class="row product-collection">
                <% for(var i = 0; i < rows.length; i++){ %>
                    <div class="col-3 item">
                       <div class="item-image" style="margin-bottom:20px;">
                           <a href="/catalog/product/<%= rows[i].slug %>">
                               <img src="<%= rows[i].thumbnail_photo%>" style="width: 100%;; visibility: visible;">
                           </a>
                       </div>
                       <div class="item-rating" style="margin-bottom: 10px;">
                           <i class="fa fa-star"></i>   
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i>
                       </div>
                       <div class="item-title"style="margin-bottom:5px;" >
                           <a href="#"><%= rows[i].ProductName%></a>
                       </div>
                       <div class="item-price">$<%= rows[i].Price%></div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <div class="footer">
        <div class="footer-content">
            <a href="#">
                <img src="//cdn.shopify.com/s/files/1/0437/0454/9536/files/logo_250x.png?v=1596001145" alt="Logo">
            </a>
            <div class="mail">
                <div class="container">
                    <div class="title">
                        <h4 style="color: #ffffff;">Subscribe Our Newsletter</h4>
                    </div>
                    <div class="mail-box">
                        <form action="" id="contact-form">
                            <input type="email" placeholder="Email address" class="mail" aria-label="Email address">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="social-icons">
                <ul class="social-icon-link list-inline">
                    <li class="list-inline-item">
                        <a href=""><i class="fab fa-twitter fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href=""><i class="fab fa-facebook fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href=""><i class="fab fa-pinterest fa-lg"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href=""><i class="fab fa-instagram fa-lg"></i></a>
                    </li>
                </ul>
            </div>
            <ul class="site-footer-link">
                <li class="after">
                    <a href="#" style="color: #ffffff;">Home</a>
                </li>
                <li class="after">
                    <a href="#" style="color: #ffffff;">About</a>
                </li>
                <li class="after">
                    <a href="#" style="color: #ffffff;">Blog</a>
                </li>
                <li class="after">
                    <a href="#" style="color: #ffffff;">Shop</a>
                </li>
                <li class="">
                    <a href="#" style="color: #ffffff;">Contact</a>
                </li>
            </ul>
        </div>
        <div class="copyright" style="border-color:rgba(252, 132, 107, 0.3);">
            <p style="color:#ffffff">Copyright © 2020 Boom Earwear Powered by Shopify. All Rights Reserved.</p>
        </div>
    </div>
    <!-- FOOTER -->

</body>
</html>