<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" type="text/css" href="/css/add-new.css">
</head>
<body>
   <div class="main-content">
       <div class="side-bar">
           <h4>ADMIN PAGE</h4>
           <ul>
            <li>
                <a href="">Search</a>
            </li>
            <li>
                <a href="">Add New Product</a>
            </li>
            <li>
                <a href="">Update Product</a>
            </li>
            <li>
                <a href="">Remove Product</a>
            </li>
        </ul>
       </div>
   </div> 
</body>
</html>