<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" type="text/css" href="/css/add-new.css">
</head>
<body>
   <div class="main-content">
       <div class="side-bar">
           <h4>ADMIN PAGE</h4>
           <ul>
            <li>
                <a href="/admin-page/search">Search</a>
            </li>
            <li>
                <a href="/admin-page">Add New Product</a>
            </li>
            <li>
                <a href="/admin-page/update" target="_self">Update Product</a>
            </li>
            <li>
                <a href="/admin-page/remove">Remove Product</a>
            </li>
        </ul>
       </div>
       <div class="content">
        
            <h2>Search Product</h2>
         <table>
           <tr> 
            
            <td><input style="width: 400px; height: 32px; border-radius: 5px;" class="search" type="text" placeholder="Enter Product Name"></td>
            <td><button>SEARCH</button></td>
        </tr>
        
        </table>
              
      
       </div>
   </div> 
</body>
</html>